<!-- <html>
<head>
    <title> Ham or Spam </title>
    <link rel="stylesheet" href="index.css">

</head>
<body >
    <nav class="navbar navbar-light" style="background-color: #cce15e;">
        <a class="navbar-brand" href="#">Spam or Ham</a>
    </nav>
    <form id="msform" action="/pred" method="post">
        <fieldset>
          <h2 class="fs-title">Text</h2>
          <input type="text" name="msg" placeholder="type" />
          <input type="submit" name="submit" class="submit action-button" value="Submit" />
        </fieldset>
      </form>
      
</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{{ url_for('static', filename='css/index.css')}}" rel="stylesheet" />
    <!-- <link rel="stylesheet" href="index.css"> -->
</head>
<body style="background-image: linear-gradient(rgb(133, 236, 215), rgb(40, 95, 91)); ">
    <!-- <nav class="navbar navbar-light" style=" text-decoration: solid; justify-items: center;  padding-left: 40%; ">
        <a class="navbar-brand" style="width: 10rem; text-shadow: #cce15e; font-size: 1.5rem; font-weight: 100; font-style: italic; font-family: Arial, Helvetica, sans-serif; " href="#">Spam or Ham</a>
    </nav> -->
    <header>
        <h1 class="logo" style="padding-left: 45%; font-size: 35px; align-items: center;   flex: auto;">SPAM or HAM</h1>
        
        <div class="burger">
        <i class="fas fa-bars"></i>
        </div>
        </header>
    
    <form id="msform" action="/pred" method="post">
        
       
        <fieldset>
            <h2 class="fs-title">Text</h2>
            <input type="text" name="msg" placeholder="type" />
            <input type="submit" name="submit" class="submit action-button" value="Submit" />
          </fieldset>
      </form>
      <p align="center">{{pr}}</p>
</body>
</html>